body{
    background-color: rgb(206, 203, 203);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    margin: 40px;
    background-color: rgb(163, 163, 223);
    padding: 10px;
    height: auto;
    margin: 25px 100px 0 100px;
}

.subnome{
    text-align: center;
    border-bottom: 10px;
    margin-bottom: 10px;
}

.menu{
    list-style: none;
    padding: 0;
    margin:0 100px 0 100px;
    text-align: right;
}

.menu li{
    display: inline-block;
    padding: 0;
}

.menu a{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 11px;
    border-radius: 2px;
}

.menu a:hover{
    background-color: #949191;
    color: #fff;
    text-decoration: none;
}

a:link{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: blue;
}

h2{
    background-color: rgb(190, 186, 186);
    padding: 10px;
    height: auto;
    margin: 25px 100px 100px;
    color:rgb(1, 1, 94);
    border-bottom-style: solid;
}

h3{
    color: black;
    padding-left: 100px;
}


p{
    height: auto;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;

}

ul{
    padding-left: 120px;
}

.atividades{
    margin: 25px 50px 0 50px
}